<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.mybatis.pay.PaymentRecordMapper" >
  <resultMap id="BaseResultMap" type="com.faxintong.iruyi.model.mybatis.pay.PaymentRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="pay_lawyer_id" property="payLawyerId" jdbcType="BIGINT" />
    <result column="receive_lawyer_id" property="receiveLawyerId" jdbcType="BIGINT" />
    <result column="figure" property="figure" jdbcType="REAL" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, pay_lawyer_id, receive_lawyer_id, figure, pay_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from payment_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from payment_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from payment_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentRecordExample" >
    delete from payment_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentRecord" >
    insert into payment_record (id, order_id, pay_lawyer_id, 
      receive_lawyer_id, figure, pay_date
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{payLawyerId,jdbcType=BIGINT}, 
      #{receiveLawyerId,jdbcType=BIGINT}, #{figure,jdbcType=REAL}, #{payDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentRecord" >
    insert into payment_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="payLawyerId != null" >
        pay_lawyer_id,
      </if>
      <if test="receiveLawyerId != null" >
        receive_lawyer_id,
      </if>
      <if test="figure != null" >
        figure,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="payLawyerId != null" >
        #{payLawyerId,jdbcType=BIGINT},
      </if>
      <if test="receiveLawyerId != null" >
        #{receiveLawyerId,jdbcType=BIGINT},
      </if>
      <if test="figure != null" >
        #{figure,jdbcType=REAL},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentRecordExample" resultType="java.lang.Integer" >
    select count(*) from payment_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update payment_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.payLawyerId != null" >
        pay_lawyer_id = #{record.payLawyerId,jdbcType=BIGINT},
      </if>
      <if test="record.receiveLawyerId != null" >
        receive_lawyer_id = #{record.receiveLawyerId,jdbcType=BIGINT},
      </if>
      <if test="record.figure != null" >
        figure = #{record.figure,jdbcType=REAL},
      </if>
      <if test="record.payDate != null" >
        pay_date = #{record.payDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update payment_record
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      pay_lawyer_id = #{record.payLawyerId,jdbcType=BIGINT},
      receive_lawyer_id = #{record.receiveLawyerId,jdbcType=BIGINT},
      figure = #{record.figure,jdbcType=REAL},
      pay_date = #{record.payDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentRecord" >
    update payment_record
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="payLawyerId != null" >
        pay_lawyer_id = #{payLawyerId,jdbcType=BIGINT},
      </if>
      <if test="receiveLawyerId != null" >
        receive_lawyer_id = #{receiveLawyerId,jdbcType=BIGINT},
      </if>
      <if test="figure != null" >
        figure = #{figure,jdbcType=REAL},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentRecord" >
    update payment_record
    set order_id = #{orderId,jdbcType=BIGINT},
      pay_lawyer_id = #{payLawyerId,jdbcType=BIGINT},
      receive_lawyer_id = #{receiveLawyerId,jdbcType=BIGINT},
      figure = #{figure,jdbcType=REAL},
      pay_date = #{payDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>