<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.mybatis.pay.PaymentModeMapper" >
  <resultMap id="BaseResultMap" type="com.faxintong.iruyi.model.mybatis.pay.PaymentMode" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="price_id" property="priceId" jdbcType="BIGINT" />
    <result column="period_num" property="periodNum" jdbcType="INTEGER" />
    <result column="figure" property="figure" jdbcType="REAL" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, price_id, period_num, figure, pay_date, create_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentModeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from payment_mode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from payment_mode
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from payment_mode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentModeExample" >
    delete from payment_mode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentMode" >
    insert into payment_mode (id, price_id, period_num, 
      figure, pay_date, create_date
      )
    values (#{id,jdbcType=BIGINT}, #{priceId,jdbcType=BIGINT}, #{periodNum,jdbcType=INTEGER}, 
      #{figure,jdbcType=REAL}, #{payDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentMode" >
    insert into payment_mode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="priceId != null" >
        price_id,
      </if>
      <if test="periodNum != null" >
        period_num,
      </if>
      <if test="figure != null" >
        figure,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="priceId != null" >
        #{priceId,jdbcType=BIGINT},
      </if>
      <if test="periodNum != null" >
        #{periodNum,jdbcType=INTEGER},
      </if>
      <if test="figure != null" >
        #{figure,jdbcType=REAL},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentModeExample" resultType="java.lang.Integer" >
    select count(*) from payment_mode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update payment_mode
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.priceId != null" >
        price_id = #{record.priceId,jdbcType=BIGINT},
      </if>
      <if test="record.periodNum != null" >
        period_num = #{record.periodNum,jdbcType=INTEGER},
      </if>
      <if test="record.figure != null" >
        figure = #{record.figure,jdbcType=REAL},
      </if>
      <if test="record.payDate != null" >
        pay_date = #{record.payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update payment_mode
    set id = #{record.id,jdbcType=BIGINT},
      price_id = #{record.priceId,jdbcType=BIGINT},
      period_num = #{record.periodNum,jdbcType=INTEGER},
      figure = #{record.figure,jdbcType=REAL},
      pay_date = #{record.payDate,jdbcType=TIMESTAMP},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentMode" >
    update payment_mode
    <set >
      <if test="priceId != null" >
        price_id = #{priceId,jdbcType=BIGINT},
      </if>
      <if test="periodNum != null" >
        period_num = #{periodNum,jdbcType=INTEGER},
      </if>
      <if test="figure != null" >
        figure = #{figure,jdbcType=REAL},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faxintong.iruyi.model.mybatis.pay.PaymentMode" >
    update payment_mode
    set price_id = #{priceId,jdbcType=BIGINT},
      period_num = #{periodNum,jdbcType=INTEGER},
      figure = #{figure,jdbcType=REAL},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>