<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.mybatis.contract.ContractMapper" >
  <resultMap id="BaseResultMap" type="com.faxintong.iruyi.model.mybatis.contract.Contract" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="reject_layer_id" property="rejectLayerId" jdbcType="BIGINT" />
    <result column="receive_layer_id" property="receiveLayerId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="contract_type" property="contractType" jdbcType="TINYINT" />
    <result column="contract_figure" property="contractFigure" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="contract_url" property="contractUrl" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, reject_layer_id, receive_layer_id, order_id, contract_type, contract_figure, 
    status, contract_url, create_date, update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.faxintong.iruyi.model.mybatis.contract.ContractExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from contract
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.faxintong.iruyi.model.mybatis.contract.ContractExample" >
    delete from contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.faxintong.iruyi.model.mybatis.contract.Contract" >
    insert into contract (id, name, reject_layer_id, 
      receive_layer_id, order_id, contract_type, 
      contract_figure, status, contract_url, 
      create_date, update_date)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{rejectLayerId,jdbcType=BIGINT}, 
      #{receiveLayerId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{contractType,jdbcType=TINYINT}, 
      #{contractFigure,jdbcType=REAL}, #{status,jdbcType=TINYINT}, #{contractUrl,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.faxintong.iruyi.model.mybatis.contract.Contract" >
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="rejectLayerId != null" >
        reject_layer_id,
      </if>
      <if test="receiveLayerId != null" >
        receive_layer_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="contractFigure != null" >
        contract_figure,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="contractUrl != null" >
        contract_url,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="rejectLayerId != null" >
        #{rejectLayerId,jdbcType=BIGINT},
      </if>
      <if test="receiveLayerId != null" >
        #{receiveLayerId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=TINYINT},
      </if>
      <if test="contractFigure != null" >
        #{contractFigure,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="contractUrl != null" >
        #{contractUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.faxintong.iruyi.model.mybatis.contract.ContractExample" resultType="java.lang.Integer" >
    select count(*) from contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update contract
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectLayerId != null" >
        reject_layer_id = #{record.rejectLayerId,jdbcType=BIGINT},
      </if>
      <if test="record.receiveLayerId != null" >
        receive_layer_id = #{record.receiveLayerId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.contractType != null" >
        contract_type = #{record.contractType,jdbcType=TINYINT},
      </if>
      <if test="record.contractFigure != null" >
        contract_figure = #{record.contractFigure,jdbcType=REAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.contractUrl != null" >
        contract_url = #{record.contractUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update contract
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      reject_layer_id = #{record.rejectLayerId,jdbcType=BIGINT},
      receive_layer_id = #{record.receiveLayerId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      contract_type = #{record.contractType,jdbcType=TINYINT},
      contract_figure = #{record.contractFigure,jdbcType=REAL},
      status = #{record.status,jdbcType=TINYINT},
      contract_url = #{record.contractUrl,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.faxintong.iruyi.model.mybatis.contract.Contract" >
    update contract
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rejectLayerId != null" >
        reject_layer_id = #{rejectLayerId,jdbcType=BIGINT},
      </if>
      <if test="receiveLayerId != null" >
        receive_layer_id = #{receiveLayerId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=TINYINT},
      </if>
      <if test="contractFigure != null" >
        contract_figure = #{contractFigure,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="contractUrl != null" >
        contract_url = #{contractUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faxintong.iruyi.model.mybatis.contract.Contract" >
    update contract
    set name = #{name,jdbcType=VARCHAR},
      reject_layer_id = #{rejectLayerId,jdbcType=BIGINT},
      receive_layer_id = #{receiveLayerId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      contract_type = #{contractType,jdbcType=TINYINT},
      contract_figure = #{contractFigure,jdbcType=REAL},
      status = #{status,jdbcType=TINYINT},
      contract_url = #{contractUrl,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>