<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.general.PositionGeneralMapper" >
    <select id="selectPositionVo" resultType="com.faxintong.iruyi.model.mybatis.vo.PositionVo" parameterType="map" >
        select p.id,p.salary,p.create_date createDate
        ,lo.name officeName,c.name cityName
        from position p
        inner join law_office lo on lo.id = p.office_id
        inner join city c on c.id = p.city_id
        limit #{startCount},#{pageSize}
    </select>
    <select id="selectPositionVoOne" resultType="com.faxintong.iruyi.model.mybatis.vo.PositionVo" parameterType="map" >
        select p.id,p.salary,p.create_date createDate
        ,lo.name officeName,c.name cityName
        ,p.title,p.content,p.type,p.education,p.experience,p.keywords
        ,(select count(*) from position_store ps where ps.position_id = #{positionId}) isCollection
        from position p
        inner join law_office lo on lo.id = p.office_id
        inner join city c on c.id = p.city_id
        where p.id = #{positionId}
    </select>
    <select id="selectPositionStore" resultType="com.faxintong.iruyi.model.mybatis.vo.PositionVo" parameterType="map" >
        select p.id,p.salary,p.create_date createDate
        ,lo.name officeName,c.name cityName
        from position_store ps
        inner join position p on p.id = ps.position_id
        inner join city c on c.id = p.city_id
        inner join law_office lo on lo.id = p.office_id
        where ps.lawyer_id = #{lawyerId}
        limit #{startCount},#{pageSize}
    </select>
</mapper>