<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.general.TopicGeneralMapper" >
    <select id="selectTopicVo" resultType="com.faxintong.iruyi.model.mybatis.vo.TopicVo" parameterType="map" >
        select  c.id,c.content,c.create_date createDate
        ,l.id lawyerId,l.name lawyerName,l.photo_url photoUrl
        ,(select count(tp.id) from topic_praise tp where tp.topic_id = c.id) praiseCount
        <if test="lawyerId != null">
        ,(select count(tp1.id) from topic_praise tp1 where tp1.topic_id = c.id and tp1.lawyer_id = #{lawyerId}) isPraise
        </if>
        from topic c
        inner join lawyer l on c.lawyer_id = l.id
        <choose>
            <when test="groupId != null">
                where c.group_id = #{groupId}
            </when>
            <otherwise>
                <if test="mo != null and mo ==0">
                    where c.lawyer_id in (select la.other_lawyer_id from lawyer_attention la where la.lawyer_id = #{lawyerId})
                </if>
                <if test="mo != null and mo ==1">
                    where c.lawyer_id  = #{lawyerId}
                </if>
            </otherwise>
        </choose>
        order by c.create_date desc
        limit #{startCount},#{pageSize}
    </select>

    <select id="selectReplyVo" resultType="com.faxintong.iruyi.model.mybatis.vo.ReplyVo" parameterType="map">
        select r.id,r.content,r.create_date createDate,r.lawyer_id lawyerId
        ,l.name lawyerName,l.photo_url photoUrl
        ,(select count(trp.id) from topic_reply_praise trp where trp.reply_id = r.id) praiseCount
        <if test="lawyerId != null">
        ,(select count(trp1.id) from topic_reply_praise trp1 where trp1.reply_id = r.id and trp1.lawyer_id = #{lawyerId}) isPraise
        </if>
        from topic_reply r
        inner join lawyer l on l.id = r.lawyer_id
        where r.topic_id = #{topicId}
    </select>

    <resultMap id="ReplyVoMap" type="com.faxintong.iruyi.model.mybatis.vo.ReplyVo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <association property="topicVo" column="topic_id" javaType="com.faxintong.iruyi.model.mybatis.vo.TopicVo" select="selectTopicVoByReplyVo" />
    </resultMap>
    <select id="selectMyReplyVo" parameterType="map" resultMap="ReplyVoMap">
        select tp.id,tp.content,tp.create_date createDate
        ,tp.topic_id
        from topic_reply tp
        where tp.lawyer_id = #{lawyerId}
    </select>
    <select id="selectTopicVoByReplyVo" resultType="com.faxintong.iruyi.model.mybatis.vo.TopicVo">
        select t.content
        from topic t
        where t.id = #{topic_id}
    </select>
</mapper>