<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.mybatis.topic.TopicGroupMapper" >
  <resultMap id="BaseResultMap" type="com.faxintong.iruyi.model.mybatis.topic.TopicGroup" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="access_count" property="accessCount" jdbcType="INTEGER" />
    <result column="big_image" property="bigImage" jdbcType="VARCHAR" />
    <result column="small_image" property="smallImage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, group_name, access_count, big_image, small_image
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.faxintong.iruyi.model.mybatis.topic.TopicGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from topic_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from topic_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from topic_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.faxintong.iruyi.model.mybatis.topic.TopicGroupExample" >
    delete from topic_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.faxintong.iruyi.model.mybatis.topic.TopicGroup" >
    insert into topic_group (id, group_name, access_count, 
      big_image, small_image)
    values (#{id,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{accessCount,jdbcType=INTEGER}, 
      #{bigImage,jdbcType=VARCHAR}, #{smallImage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.faxintong.iruyi.model.mybatis.topic.TopicGroup" >
    insert into topic_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="accessCount != null" >
        access_count,
      </if>
      <if test="bigImage != null" >
        big_image,
      </if>
      <if test="smallImage != null" >
        small_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="accessCount != null" >
        #{accessCount,jdbcType=INTEGER},
      </if>
      <if test="bigImage != null" >
        #{bigImage,jdbcType=VARCHAR},
      </if>
      <if test="smallImage != null" >
        #{smallImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.faxintong.iruyi.model.mybatis.topic.TopicGroupExample" resultType="java.lang.Integer" >
    select count(*) from topic_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update topic_group
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.groupName != null" >
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.accessCount != null" >
        access_count = #{record.accessCount,jdbcType=INTEGER},
      </if>
      <if test="record.bigImage != null" >
        big_image = #{record.bigImage,jdbcType=VARCHAR},
      </if>
      <if test="record.smallImage != null" >
        small_image = #{record.smallImage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update topic_group
    set id = #{record.id,jdbcType=BIGINT},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      access_count = #{record.accessCount,jdbcType=INTEGER},
      big_image = #{record.bigImage,jdbcType=VARCHAR},
      small_image = #{record.smallImage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.faxintong.iruyi.model.mybatis.topic.TopicGroup" >
    update topic_group
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="accessCount != null" >
        access_count = #{accessCount,jdbcType=INTEGER},
      </if>
      <if test="bigImage != null" >
        big_image = #{bigImage,jdbcType=VARCHAR},
      </if>
      <if test="smallImage != null" >
        small_image = #{smallImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faxintong.iruyi.model.mybatis.topic.TopicGroup" >
    update topic_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      access_count = #{accessCount,jdbcType=INTEGER},
      big_image = #{bigImage,jdbcType=VARCHAR},
      small_image = #{smallImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>