<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.general.TopicGeneralMapper" >
    <select id="selectTopicVo" resultType="com.faxintong.iruyi.model.mybatis.vo.TopicVo" parameterType="map" >
        select  c.id,c.content,c.create_date createDate
        ,l.id lawyerId,l.name lawyerName,l.photo_url photoUrl
        ,(select count(tp.id) from topic_praise tp where tp.topic_id = c.id) praiseCount
        <if test="lawyerId != null">
        ,(select count(tp1.id) from topic_praise tp1 where tp1.topic_id = c.id and tp1.lawyer_id = #{lawyerId}) isPraise
        </if>
        from topic c
        inner join lawyer l on c.lawyer_id = l.id
        <choose>
            <when test="groupId != null">
                where c.group_id = #{groupId}
            </when>
            <otherwise>
                <if test="mo != null and mo ==0">
                    where c.id in (select la.topic_id from topic_store la where la.lawyer_id = #{lawyerId})
                </if>
                <if test="mo != null and mo ==1">
                    where c.lawyer_id  = #{lawyerId}
                </if>
            </otherwise>
        </choose>
        order by c.create_date desc
        limit #{startCount},#{pageSize}
    </select>

    <select id="selectReplyVo" resultType="com.faxintong.iruyi.model.mybatis.vo.ReplyVo" parameterType="map">
        select r.id,r.content,r.create_date createDate,r.lawyer_id lawyerId
        ,l.name lawyerName,l.photo_url photoUrl
        ,(select count(trp.id) from topic_reply_praise trp where trp.reply_id = r.id) praiseCount
        <if test="lawyerId != null">
        ,(select count(trp1.id) from topic_reply_praise trp1 where trp1.reply_id = r.id and trp1.lawyer_id = #{lawyerId}) isPraise
        </if>
        from topic_reply r
        inner join lawyer l on l.id = r.lawyer_id
        where r.topic_id = #{topicId}
    </select>

    <resultMap id="ReplyVoMap" type="com.faxintong.iruyi.model.mybatis.vo.ReplyVo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <association property="topicVo" column="topic_id" javaType="com.faxintong.iruyi.model.mybatis.vo.TopicVo" select="selectTopicVoByReplyVo" />
    </resultMap>
    <select id="selectMyReplyVo" parameterType="map" resultMap="ReplyVoMap">
        select tp.id,tp.content,tp.create_date createDate
        ,tp.topic_id
        from topic_reply tp
        <if test="type != null and type == 0">
            where tp.lawyer_id = #{lawyerId}
        </if>
        <if test="type != null and type == 1">
            where tp.id in (select trp.reply_id from topic_reply_praise trp where trp.lawyer_id = #{lawyerId})
        </if>
        limit #{startCount},${pageSize}
    </select>
    <select id="selectTopicVoByReplyVo" resultType="com.faxintong.iruyi.model.mybatis.vo.TopicVo">
        select t.id,t.content
        from topic t
        where t.id = #{topic_id}
    </select>

    <select id="selectTopicAllVo" parameterType="map" resultType="com.faxintong.iruyi.model.mybatis.vo.TopicAllVo">
        select * from (
        select t.id,t.title,t.content,t.create_date createDate
        ,l.id lawyerId,l.`name` lawyerName,l.photo_url photoUrl
        ,0 type,0 id2,"" content2,0 lawyerId2,"" lawyerName2,"" photoUrl2
        ,(select count(*) from topic_praise tp where tp.topic_id = t.id) praiseCount
        ,(select count(*) from topic_praise tp1 where tp1.topic_id = t.id and tp1.lawyer_id = #{lawyerId}) isPraise
        from topic t
        INNER JOIN lawyer l on l.id = t.lawyer_id
        <where>
            <if test="groupId != null">
                and t.group_id = #{groupId}
            </if>
            <if test="targetLawyerId != null">
                and t.lawyer_id = #{targetLawyerId}
            </if>
            <if test="title != null">
                and t.title = #{title}
            </if>
            <if test="content != null">
                and t.content = #{content}
            </if>
        </where>
        union
        select t.id,t.title,t.content,tr.create_date createDate
        ,l.id lawyerId,l.`name` lawyerName,l.photo_url photoUrl
        ,1 type,tr.id id2,tr.content content2,l1.id lawyerId2,l1.`name` lawyerName2,l1.photo_url photoUrl2
        ,(select count(*) from topic_reply_praise trp where trp.reply_id = tr.id) praiseCount
        ,(select count(*) from topic_reply_praise trp1 where trp1.reply_id = tr.id and trp1.lawyer_id = #{lawyerId}) isPraise
        from topic_reply tr
        INNER JOIN topic t on t.id = tr.topic_id
        INNER JOIN lawyer l on l.id = t.lawyer_id
        inner join lawyer l1 on l1.id = tr.lawyer_id
        <where>
            <if test="groupId != null">
                and t.group_id = #{groupId}
            </if>
            <if test="targetLawyerId != null">
                and tr.lawyer_id = #{targetLawyerId}
            </if>
            <if test="title != null">
                and t.title = #{title}
            </if>
            <if test="content != null">
                and t.content = #{content}
            </if>
        </where>
        union
        select t.id,t.title,t.content,ts.create_date createDate
        ,l.id lawyerId,l.`name` lawyerName,l.photo_url photoUrl
        ,2 type,ts.id id2,"" content2,l1.id lawyerId2,l1.`name` lawyerName2,l1.photo_url photoUrl2
        ,(select count(*) from topic_praise tp where tp.topic_id = ts.topic_id) praiseCount
        ,(select count(*) from topic_praise tp1 where tp1.topic_id = ts.topic_id and tp1.lawyer_id = #{lawyerId}) isPraise
        from topic_store ts
        INNER JOIN topic t on t.id = ts.topic_id
        INNER JOIN lawyer l on l.id = t.lawyer_id
        inner join lawyer l1 on l1.id = ts.lawyer_id
        <where>
            <if test="groupId != null">
                and t.group_id = #{groupId}
            </if>
            <if test="targetLawyerId != null">
                and ts.lawyer_id = #{targetLawyerId}
            </if>
            <if test="title != null">
                and t.title = #{title}
            </if>
            <if test="content != null">
                and t.content = #{content}
            </if>
        </where>
        ) tmp
        order by tmp.createDate desc
        limit #{startCount},#{pageSize}
    </select>

</mapper>