<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.mybatis.friendcircle.PaperPraiseMapper" >
  <resultMap id="BaseResultMap" type="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraise" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="paper_id" property="paperId" jdbcType="BIGINT" />
    <result column="lawyer_id" property="lawyerId" jdbcType="BIGINT" />
    <result column="lawyer_name" property="lawyerName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, paper_id, lawyer_id, lawyer_name, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraiseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paper_praise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from paper_praise
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from paper_praise
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraiseExample" >
    delete from paper_praise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraise" >
    insert into paper_praise (id, paper_id, lawyer_id, 
      lawyer_name, create_time)
    values (#{id,jdbcType=BIGINT}, #{paperId,jdbcType=BIGINT}, #{lawyerId,jdbcType=BIGINT}, 
      #{lawyerName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraise" >
    insert into paper_praise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="lawyerId != null" >
        lawyer_id,
      </if>
      <if test="lawyerName != null" >
        lawyer_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=BIGINT},
      </if>
      <if test="lawyerId != null" >
        #{lawyerId,jdbcType=BIGINT},
      </if>
      <if test="lawyerName != null" >
        #{lawyerName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraiseExample" resultType="java.lang.Integer" >
    select count(*) from paper_praise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update paper_praise
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.paperId != null" >
        paper_id = #{record.paperId,jdbcType=BIGINT},
      </if>
      <if test="record.lawyerId != null" >
        lawyer_id = #{record.lawyerId,jdbcType=BIGINT},
      </if>
      <if test="record.lawyerName != null" >
        lawyer_name = #{record.lawyerName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update paper_praise
    set id = #{record.id,jdbcType=BIGINT},
      paper_id = #{record.paperId,jdbcType=BIGINT},
      lawyer_id = #{record.lawyerId,jdbcType=BIGINT},
      lawyer_name = #{record.lawyerName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraise" >
    update paper_praise
    <set >
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=BIGINT},
      </if>
      <if test="lawyerId != null" >
        lawyer_id = #{lawyerId,jdbcType=BIGINT},
      </if>
      <if test="lawyerName != null" >
        lawyer_name = #{lawyerName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faxintong.iruyi.model.mybatis.friendcircle.PaperPraise" >
    update paper_praise
    set paper_id = #{paperId,jdbcType=BIGINT},
      lawyer_id = #{lawyerId,jdbcType=BIGINT},
      lawyer_name = #{lawyerName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>