<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faxintong.iruyi.dao.mybatis.community.CommunityNewsMapper" >
    <resultMap id="BaseResultMap" type="com.faxintong.iruyi.model.mybatis.community.CommunityNews" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="lawyer_id" property="lawyerId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column=""
    </resultMap>
    <sql id="getCommunityNews" >
       select issue.id, issue.lawyer_id as issue_laywer_id,
       title, content, issue.create_date as issue_create_date,
       from issue, reply where issue.id = reply.issue_id;
    </sql>
</mapper>